In [1]:
library(SpiecEasi)

source("../rpca_cooc_benchmarking/R/synthesize_count_data.R")

In [2]:
data <- read.csv("../data/processed/qiita103/88_soils_filt.csv", header=T, row.names=1)
data[1:5, 1:5]

        X4479946 X547831 X4436710 X244331 X4479940
103.LQ3 1        0       0        1       0
103.PE4 1        0       0        0       0
103.MT2 0        1       0        0       0
103.SK1 0        1       0        0       0
103.AR1 0        0       4        0       0

In [3]:
sample_names <- rownames(data)
feature_names <- colnames(data)
data.norm <- normalize_data(as.matrix(data))

In [10]:
d <- ncol(data.norm)
e <- d

In [11]:
set.seed(42)
graph <- make_graph("cluster", d, e)

ptm <- proc.time()
synth_data <- synthesize_data(
    data.norm,
    graph,
    distr="zinegbin"
)
proc.time() - ptm

    user   system  elapsed
4693.880   77.302 4773.417

In [12]:
dim(synth_data)

[1]   88 9324

In [13]:
rownames(synth_data) <- rownames(data)
colnames(synth_data) <- colnames(data)

In [14]:
synth_data[1:5, 1:5]

        X4479946 X547831 X4436710 X244331 X4479940
103.LQ3 0        0       0        0       0
103.PE4 0        0       0        0       0
103.MT2 7        7       0        1       0
103.SK1 0        0       0        0       0
103.AR1 0        0       0        0       0

In [15]:
write.csv(synth_data, "../data/simulated/qiita103/88_soils_filt_sim1.csv", row.names=T)